table {
    width: 500px;
    border-collapse: collapse;
    border: 1px solid black;
    height: 50px;

}

.destaque {
    background-color: red;
}

td {
    text-align: center;
}



col.Nome {
    background: yellow;
}

col.Classrom {
    background: red;
}

th {
    border: 1px solid black;
    padding: 10px;
}

tfoot {
    padding: 10px;
}