@charset "UTF-8";

p:nth-child(odd) {


    background-color: rebeccapurple;
}

pi:nth-child(even) {
    background-color: rgb(20, 20, 20);
}

p:nth-child(3n) {
    background-color: rgb(94, 9, 9);
}

p:nth-child(3n+5) {
    background-color: rgb(12, 1, 161);
}