@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url("../back-phone.jpg");

    }

    img#photo {
        display: none;
        width: 30%;
        height: 90px;
    }

    img#pessoa {
        display: none;
        width: 30%;
        height: 90px;

    }

    img#text {
        display: block;
        width: 30%;
        height: 90px;
    }

    img#home {
        display: none;
        width: 30%;
        height: 90px;
    }

    img {
        margin: auto;
    }

    img#pc {
        display: none;
    }

}

@media screen and (min-width:992px) and (max-width:1200px) {


    body {
        background-image: url("../back-pc.jpg")
    }


    img#pessoa {
        display: block;
        width: 30%;
        height: 90px;

    }

    img#photo {
        display: none;
        width: 30%;
        height: 90px;
    }

    img#text {
        display: none;
        width: 30%;
        height: 90px;
    }

    img#home {
        display: none;
        width: 30%;
        height: 90px;
    }

    img#pc {
        display: none;
    }

}

@media screen and (min-width:1200px) {
    body {
        background-image: url("../back-tablet.jpg");
    }

    img#photo {
        display: none;
        width: 30%;
        height: 90px;
    }

    img#pessoa {
        display: none;
        width: 30%;
        height: 90px;

    }

    img#text {
        display: none;
        width: 30%;
        height: 90px;
    }

    img#home {
        display: block;
        width: 30%;
        height: 90px;
    }

    img#pc {
        display: none;
        margin: auto;
    }
}