   table td,
   thead th {
       border: 1px solid black;

       padding: 5px;
       text-align: left;
   }

   table {
       border-collapse: collapse;


   }

   table caption {
       text-align: left;
       caption-side: top;
       font-style: italic;
       font-size: 14px;
       margin: 5px 0;
   }

   .container {
       display: flex;
       max-width: 100%;


   }