@charset "UTF-8";

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font3: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.normal {
    background-color: rgb(252, 250, 250);
    color: black;
    background-image: url("/Ex26/back-phone.jpg");
}

section {

    font-family: var(--font3);
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 2em;
    line-height: 150%;
    padding-left: 30px;
}

#imagens>p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.411);
}

#imagens {
    background-image: url("/Ex26/cev-landscape.jpg");
    padding: 5px;
    color: white;
    background-color: rgb(29, 29, 29);
}


header>p {
    padding-bottom: 50px;
}

header>h1 {
    font-size: 10vh;
    font-family: var(--font2);
    padding-top: 50px;
    font-weight: small caps;

}